<md-sidenav-container>
  <md-sidenav #sidenav>
    <nav class="sidenav-content">
      <button routerLink="/customer/home" routerLinkActive="active"
              (click)="sidenav.close()" md-button>Home</button>
      <button routerLink="/customer/operators" routerLinkActive="active"
              (click)="sidenav.close()" md-button>Operators</button>
      <button routerLink="/customer/dialogs" routerLinkActive="active"
              (click)="sidenav.close()" md-button>Dialogs</button>
      <button routerLink="/customer/payment" routerLinkActive="active"
              (click)="sidenav.close()" md-button>Payment</button>
    </nav>
  </md-sidenav>

  <customer-navbar></customer-navbar>
  <button md-button (click)="sidenav.open()">Open sidenav</button>

  <router-outlet></router-outlet>
</md-sidenav-container>
