<div class="container-wrapper">
  <div class="container">
    <h1>It seems like you are lost</h1>
    <h2>Choose your way out down bellow</h2>

    <div class="back-to-main-container">
      <button md-button routerLink="/">Back to Main</button>
    </div>

    <p class="question">Are you a...</p>
    <div class="buttons">
      <button md-button routerLink="/customer/home">Customer? Back to Home</button>
      <button md-button routerLink="/operator">Operator? Back to chat</button>
    </div>
  </div>
</div>
