section{
  padding: 30px;

}
section h1{
  text-align: center;
}

#generalDetails{
  display: flex;
  justify-content: space-between;
}

article .message{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #e9f1e9;
}

#timeInfo{
  margin-top: 20px;
  border-top: 1px solid #000000;
}

#timeInfo p:last-child{
  border-top: 1px solid black;
}

@media (max-width: 600px) {
  #generalDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  #operatorInfo{
    border-top: 1px solid black;
  }

}
