.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  width: 60%;
  padding: 20px;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

.general-info {
  display: flex;
  justify-content: space-between;
}

article .message {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #e9f1e9;
}

.time-info {
  margin-top: 20px;
  border-top: 1px solid #000000;

  p:last-child {
    border-top: 1px solid black;
  }
}

@media (max-width: 991px) {
  section {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .general-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .info-block {
    width: 300px;
  }

  .operator-info {
    border-top: 1px solid black;
  }
}
