<h2>Dialog window</h2>

<div class="button-wrapper">
  <button (click)="onDialogFinished()"
          md-raised-button color="warn">Emit client disconnection</button>
</div>

<div class="wrapper">
  <div class="container">
    <app-chat [dialog]="dialog" (dialogFinished)="onDialogFinished($event)"></app-chat>
    <div class="info-block">
      <app-client-info [dialog]="dialog"></app-client-info>
      <app-dialogs-history *ngIf="dialog.clientPreviousDialogs"
                           [dialog]="dialog"></app-dialogs-history>
    </div>
  </div>
</div>
