<div>
  <p class="title">Filters</p>
  <p>by operator email</p>
  <p>by client email</p>
  <p>by dialog date</p>
</div>

<p *ngIf="!dialogs" class="no-dialogs">
  There are no dialogs yet. Come back later
</p>

<div *ngIf="dialogs" class="dialogs">
  <md-card *ngFor="let dialog of dialogs"
           [routerLink]="['/customer/dialogs/', dialog._id]" class="dialog">
    <div class="operator-info">
      <p class="name">{{dialog.operatorName}}</p>
      <p class="email">{{dialog.operatorEmail}}</p>
    </div>
    <div class="client-info">
      <p class="name">{{dialog.clientName}}</p>
      <p class="email">{{dialog.clientEmail}}</p>
    </div>
    <p class="dialog-start-time">{{dialog.startTime | date:'short'}}</p>
  </md-card>
</div>
