.dialogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}

.dialog {
  width: 400px;
  margin: 0 40px 40px 40px;

  &:hover {
    cursor: pointer;
  }
}

.operator-info, .client-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;

  .name {
    margin-right: 20px;
    cursor: text;
  }

  .email {
    cursor: text;
  }
}

.dialog-start-time {
  display: inline-block;
  cursor: text;
}

@media (max-width: 543px) {
  .dialog {
    width: 100%;
    margin: 0 15px 40px 15px;
  }
}
